@tailwind base;
@tailwind components;
@tailwind utilities;

.divider-1 {
  /* position: absolute; */
}

.divider-1-inner {
  /* position: auto; */
  object-fit: contain;
  width: 50%;
  height: 50%;
}
